{% extends 'core/base.html' %}
{% block title %}Lista de Categorias{% endblock %}

{% block content %}
 <h2>Categorias Cadastradas</h2>
 <p><a href="/categorias/novo">Cadastrar nova categoria</a></p>
 
 {% if categorias %}
     <ul>
     {% for categoria in categorias %}
         <li>
             <a href="/categorias/{{ categoria.id }}/">{{ categoria.categoria }}</a>

             <!-- Formulário e Botão de Excluir -->
             <form action="/categorias/{{ categoria.id }}/excluir/" method="POST" style="display:inline;">
                 {% csrf_token %}
                 <button type="submit" onclick="return confirm('Tem certeza que deseja excluir {{ categoria.categoria }}?');">
                     Excluir
                 </button>
             </form>
         </li>
     {% endfor %}
     </ul>
 {% else %}
     <p>Nenhuma categoria cadastrada ainda.</p>
 {% endif %}

{% endblock %}