{% extends 'core/base.html' %}
{% block title %}Lista de Modelos{% endblock %}

{% block content %}
 <h2>Modelos Cadastrados</h2>
 <p><a href="/modelos/novo">Cadastrar nova modelo</a></p>
 
 {% if modelos %}
     <ul>
     {% for modelo in modelos %}
         <li>
             <a href="/modelos/{{ modelo.id }}/">{{ modelo.modelo }}</a>

             <!-- Formulário e Botão de Excluir -->
             <form action="/modelos/{{ modelo.id }}/excluir/" method="POST" style="display:inline;">
                 {% csrf_token %}
                 <button type="submit" onclick="return confirm('Tem certeza que deseja excluir {{ modelo.modelo }}?');">
                     Excluir
                 </button>
             </form>
         </li>
     {% endfor %}
     </ul>
 {% else %}
     <p>Nenhuma modelo cadastrado ainda.</p>
 {% endif %}

{% endblock %}